
.grid{
  background-color: rgb(138, 43, 226);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px;
  border: 10px double rgb(0, 0, 0);
  border-radius: 10px;
  cursor: pointer;
}
.icon{
  font-size: 30px;
  color: darkred;
}
.box{
  width: auto;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}